<!-- desktop -->
<div
    class="hidden w-full md:inline-flex md:mb-(--bottom) flex-nowrap overflow-hidden mask-[linear-gradient(to_right,transparent_0,black_128px,black_calc(100%-200px),transparent_100%)]"
>
    <ul
        class="flex items-center justify-center md:justify-start infinite-scroll gap-4 md:[&_li]:mx-8 [&_img]:max-w-none"
    >
        <li class="min-w-max">
            <h3 class="mb-0">
                “There is only one thing that makes a dream impossible to achieve: the fear of
                failure.”
            </h3>
        </li>
        <li class="min-w-max">
            <p class="italic capitalize mb-0">The Alchemist, Paulo Coelho</p>
        </li>
        <li class="min-w-max">
            <svg
                width="58"
                height="50"
                viewBox="0 0 58 50"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M35.5577 19.0398C35.5577 19.0398 37.2869 1 29.002 1C20.717 1 22.4462 19.0398 22.4462 19.0398C22.4462 19.0398 3.79144 11.9948 1.23125 19.0398C-1.32894 26.0848 18.3945 30.189 18.3945 30.189C18.3945 30.189 5.13605 43.8748 11.8387 48.2288C18.5414 52.5829 29.002 37.0796 29.002 37.0796C29.002 37.0796 39.4625 52.5829 46.1652 48.2288C52.8679 43.8748 39.6094 30.189 39.6094 30.189C39.6094 30.189 59.3328 26.0848 56.7727 19.0398C54.2125 11.9948 35.5577 19.0398 35.5577 19.0398Z"
                    stroke="var(--primary)"
                    stroke-width="2"
                />
            </svg>
        </li>
        <li class="min-w-max">
            <h3 class="mb-0">
                “There is only one thing that makes a dream impossible to achieve: the fear of
                failure.”
            </h3>
        </li>
        <li class="min-w-max">
            <p class="italic capitalize mb-0">The Alchemist, Paulo Coelho</p>
        </li>
        <li class="min-w-max">
            <svg
                width="58"
                height="50"
                viewBox="0 0 58 50"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M35.5577 19.0398C35.5577 19.0398 37.2869 1 29.002 1C20.717 1 22.4462 19.0398 22.4462 19.0398C22.4462 19.0398 3.79144 11.9948 1.23125 19.0398C-1.32894 26.0848 18.3945 30.189 18.3945 30.189C18.3945 30.189 5.13605 43.8748 11.8387 48.2288C18.5414 52.5829 29.002 37.0796 29.002 37.0796C29.002 37.0796 39.4625 52.5829 46.1652 48.2288C52.8679 43.8748 39.6094 30.189 39.6094 30.189C39.6094 30.189 59.3328 26.0848 56.7727 19.0398C54.2125 11.9948 35.5577 19.0398 35.5577 19.0398Z"
                    stroke="var(--primary)"
                    stroke-width="2"
                />
            </svg>
        </li>
    </ul>
</div>

<!-- mobile -->
<div
    class="2-full mx-auto md:hidden mb-(--bottom-mobile) flex flex-col justify-center items-center"
>
    <h3 class="leading-relaxed text-center mb-5">
        “There is only one thing that makes a dream impossible to achieve: the fear of failure.”
    </h3>
    <div class="flex">
        <img class="h-5 mr-5" src="assets/star-outline.png" alt="Star Outline" />
        <p class="italic capitalize">The Alchemist, Paulo Coelho</p>
    </div>
</div>
