<section class="z-2 grid grid-cols-1 md:grid-cols-3 md:grid-rows-3 h-[calc(100vh-90px)] mb-(--bottom-section-title-mobile) md:mb-(--bottom-section-title) max-section-width">
    <div class="row-start-1 md:row-start-3 md:col-start-1 flex justify-start items-start md:items-end">
        <svg class="w-10 md:w-12 aspect-square" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
            <style type="text/css">
                .st0 {
                    fill: var(--white);
                }
            </style>
            <g>
                <path
                    class="st0"
                    d="M300.7,591.8L300.7,591.8c-5,0-9.7-2.2-12.9-6l-1-1.1c-3.5-4.1-5.4-9.3-5.4-14.7l-0.9-529.9
		c-25.3,6.7-49.2,30.9-68.6,69.7c-23.2,46.5-36.6,107.8-38.3,174c0.1,4.5,0.2,9.1,0.2,13.6h-0.3c0,0.2,0,0.4,0,0.6h-34
		c0-4.8,0.1-9.5,0.2-14.2c-1.5-62.8-13.2-120-33.7-164.4C60,167.3,34,231.1,34,297.4c0,74,32.2,144.7,88.2,194l-22.5,25.5
		C36.4,461.2,0,381.2,0,297.4C0,255,8.9,214.2,26.5,176c17-36.8,41.2-69.4,71.8-96.6l0,0c3.1-2.8,7.1-4.3,11.3-4.3h1.3
		c6.1,0,11.8,3.3,14.8,8.6v0c12.7,22.4,23.1,48.5,30.9,77.2c6.5-24,14.8-46.3,24.8-66.3c29.1-58.3,69.4-90.5,113.4-90.5l0,0
		c4.3,0,8.4,1.6,11.6,4.6l2.6,2.4c3.5,3.2,5.4,7.7,5.4,12.4v0l0.9,533.8c136.9-7.6,245.9-121.1,245.9-259.4
		c0-75-32.9-146.3-90.2-195.7l22.2-25.8c64.8,55.9,102,136.6,102,221.5c0,78.7-30.4,152.5-85.6,207.8
		C454.3,561.2,380,591.8,300.7,591.8z"
                />
            </g>
        </svg>
    </div>

    <p class="hidden md:block min-w-max md:row-start-1 md:col-start-2 text-center">Based in the Netherlands | Working worldwide</p>

    <a href="#" class="hidden md:block row-start-1 col-start-3 font-bold w-full text-right">
        <p class="hover_underline">Get in touch</p>
    </a>

    <div class="row-start-2 md:row-start-2 md:col-span-3 flex flex-col justify-center items-center text-(--white)">
        <h1 class="text-4xl md:text-7xl lg:text-8xl uppercase text-center">Maja</h1>
        <h1 class="text-4xl md:text-7xl lg:text-8xl uppercase text-center">Domalewska</h1>
    </div>

    <div class="hidden md:block md:row-start-1 md:col-start-1 md:col-span-1 -rotate-90 w-max">
        <p>Understand the user. Iterate. Create.</p>
    </div>

    <div class="row-start-3 md:row-start-3 md:col-start-2 md:col-span-1 flex flex-wrap md:flex-nowrap justify-center items-end">
        <button class="btn w-3/4">Work</button>
        <button class="btn w-3/4">Photography</button>
        <button class="btn w-3/4">Contact</button>
        <button class="btn w-3/4 font-bold bg-center bg-cover">Resume</button>
        <!-- for some reason the bg doesn't want to load, will figure out later -->
    </div>

    <div class="row-start-4 md:row-start-3 md:col-start-3 flex justify-end items-end space-x-2">
        <a href="https://open.spotify.com/user/kv4efcgj0cadq0uy1u5cgyi5n?si=1cef04fca0c44218">
            <img class="h-8 mb-2" src="assets/spotify-50.png" alt="spotify icon" />
        </a>
        <a href="https://www.linkedin.com/in/majadomalewska/">
            <img class="h-8 mb-2 pl-2" src="assets/linkedin-50.png" alt="linkedin icon" />
        </a>
        <a href="https://www.instagram.com/majka_domalewska/">
            <img class="h-8 mb-2 pl-2" src="assets/instagram-50.png" alt="instagram icon" />
        </a>
    </div>
</section>
