<section class="relative max-section-width mb-(--bottom-mobile) md:mb-(--bottom)">
    <img src="assets/skills-bg.png" alt="lightning bolt" class="absolute -right-20 top-1/10 md:-top-1/3 md:-right-1/3 " />
    <img src="assets/skills-bg.png" alt="lightning bolt" class="absolute -scale-x-100 lg:hidden -left-20 top-6/10" />


    <div class="grid grid-cols-1 md:grid-cols-2 gap-10">
        <ul id="skills-collection" class="grid md:grid-cols-2 mx-auto gap-10 p-10">
            <li class="flex gap-5 items-center">
                <img
                    class="max-w-14"
                    src="assets/logos/Typescript_logo.png"
                    alt="Typescript Logo"
                />
                <p class="mb-0 font-medium">Typescript</p>
            </li>
            <li class="flex gap-5 items-center">
                <img
                    class="max-w-14"
                    src="assets/logos/JavaScript_logo.png"
                    alt="JavaScript Logo"
                />
                <p class="mb-0 font-medium">JavaScript</p>
            </li>
            <li class="flex gap-5 items-center">
                <img class="max-w-14" src="assets/logos/Tailwind_logo.png" alt="Tailwind Logo" />
                <p class="mb-0 font-medium">Tailwind</p>
            </li>
            <li class="flex gap-5 items-center">
                <img class="max-w-14" src="assets/logos/Git_logo.png" alt="Git Logo" />
                <p class="mb-0 font-medium">Git</p>
            </li>
            <li class="flex gap-5 items-center">
                <img class="max-w-14" src="assets/logos/Figma_logo.png" alt="Figma Logo" />
                <p class="mb-0 font-medium">Figma</p>
            </li>
            <li class="flex gap-5 items-center">
                <img class="max-w-14" src="assets/logos/Angular_logo.png" alt="Angular Logo" />
                <p class="mb-0 font-medium">Angular</p>
            </li>
        </ul>
        <div id="comments" class="flex flex-col gap-10 mx-10">
            <div class="glass-bg p-5 rounded-xl">
                <p>
                    Maja works independently, takes full ownership of her responsibilities, and
                    involves the right people at the right moments. She communicates clearly, sets
                    priorities effectively, and shows a level of maturity and professionalism that
                    is rare at this stage. Many of us were genuinely surprised to learn that this
                    was not her graduation internship, given the quality and depth of her
                    contributions.
                </p>
                <div class="flex gap-5 items-center">
                    <span
                        class="bg-[url(assets/steven-image.png)] bg-cover bg-center aspect-square h-12 rounded-full"
                    ></span>
                    <div>
                        <h4 class="mb-1">Steven van ‘t Klooster</h4>
                        <p class="text-sm mb-0">Manager at InnoVactions</p>
                    </div>
                </div>
            </div>

            <div class="glass-bg p-5 rounded-xl">
                <p>
                    Maja has been deeply involved in the development of the platform from the very
                    beginning. Everyone here has enjoyed having Maja on the team and that speaks
                    volumes! You’ve done amazing work, and we’re confident you’ll go on to achieve
                    even greater things. Thank you, Maja, for all your effort and the work you’ve
                    done here.
                </p>
                <div class="flex gap-5 items-center">
                    <span
                        class="bg-[url(assets/dennis-image.jpg)] bg-cover bg-center aspect-square h-12 rounded-full"
                    ></span>
                    <div>
                        <h4 class="mb-1">Dennis Kirsch</h4>
                        <p class="text-sm mb-0">Company coach</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
