<footer class="w-full -mb-50">
	<div class="container py-3 flex flex-col md:flex-row items-center md:items-start justify-between gap-4">
		<div class="text-center md:text-left">
			<p class="muted">© 2025 Maja Domalewska</p>
		</div>

		<nav class="flex flex-wrap items-center justify-center md:justify-end gap-4">
			<a href="#work" class="hover_underline">Work</a>
			<a href="/photography" class="hover_underline">Photography</a>
			<a href="#contact" class="hover_underline">Contact</a>
			<a href="/assets/Maja CV.pdf" target="_blank" class="hover_underline">Resume</a>
		</nav>
	</div>
</footer>